<!DOCTYPE html>
<html lang="en">

<!--header-->
<% include ./template/header.html %>

<body>
<% include ./modal/registerModal.html %>
<% include ./modal/loginModal.html %>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">User List</div>
            <% for(var key in data) {%>
            <a data-toggle="modal" onclick="userListClick('<%= data[key]["id"] %>');">
            <div class="panel-body border"
                 style="text-align: center;margin: 10px 10px 10px 10px;display: inline-block;">
                <p style="text-align: center; margin:10px 0px 0px 0px">
                    <%= data[key]["username"] %>
                </p>
            </div>
            </a>
            <button type="button" class="btn-small" onclick="deleteClick('<%= data[key]["id"]%>')">Del</button>
            <% } %>
            <a data-toggle="modal" href="#registerModal">
                <div class="panel-body border"
                     style="text-align: center;margin: 10px 10px 10px 10px;display: inline-block;">
                    <p style="text-align: center; margin:10px 0px 10px 0px">
                        Add User
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>

<!-- footer 위치-->
<% include ./template/footer.html %>

</body>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="/javascript/indexMethod.js"></script>

</html>