<% include ./template/header.html %>

<body>

<div class="container-fluid">
    <div class="panel panel-default">

        <div class="panel-heading">
            Todo List <%= username %>
        </div>

        <div class="panel-body">
            <button type="button" class="btn btn-primary"
                    onclick="location.href='/todos/add/<%= username %>'">
                Todo작성하기
            </button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Index</th>
                <th>Title</th>
                <th>Contents</th>
                <th>username</th>
                <th>Created_at</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>

            <tbody>
            <% for(var key in board) {%>
            <tr>
                <th scope="row"><%= key%></th>
                <td><%= board[key]["title"]%></td>
                <td><%= board[key]["content"]%></td>
                <td><%= board[key]["username"]%></td>
                <td><%= board[key]["createDate"]%></td>
                <td>
                    <button type="button" class="btn btn-success"
                            onclick="todoUpdate('<%= board[key][`boardId`]%>',`<%= username %>`)">
                        수정
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"
                            onclick="todoDelete('<%= board[key][`_id`]%>')">
                        삭제
                    </button>
                </td>
            </tr>
            <% }%>
            </tbody>
        </table>

    </div>
</div>

<footer>
    <script src="/javascript/formMethod.js"></script>
    <% include ./template/footer.html %>

</body>
</html>
